<% provide(:title, "Home") %>
  <body>
    <h1>Welcome to Riverchase United Methodist Church Sunday Schools.</h1>
    <p>
      This is the home page for the RUMC Sunday School App sample application.
    </p>
  </body>
