<footer class="footer">
  <small>
    The RUMC Sunday School App by Justin Collins
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>